<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    #app {
        margin: 100px auto;
        width: 60%;
    }

    .redFont {
        color: red;
    }

    .hiden {
        display: none;
    }
</style>
<body>
<div id="app">
    <input type="text" v-model="value"/>
    <button id="btn" @click="add">添加</button>
    <ul>
        <li v-for="oli in sortList"  @click.stop="turnRed" class="">
            <template  v-if="liList.length!==1">
            {{oli.indexOf(value)!==-1?isEmpty:oli}}
            </template>
        </li>
        <!--<li v-for="oli in sortList"  @click.stop="turnRed" class="">-->
            <!--<template v-if="liList.length===1">-->
                <!--{{oli.indexOf(value)!==-1?isEmpty:oli}}-->
            <!--</template>-->
        <!--</li>-->
    <</ul>>
</div>
</body>
<script src="../vue/vue.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            isEmpty: "",
            value: "",
            liList: [],
        },
        methods: {
            add() {
                this.liList.push(this.value);
                this.value = "";
            },
            turnRed(e) {
                e.target.classList.add('redFont');
            },
            regular() {

            }
        },
        computed: {
            sortList() {
                return this.liList.sort(function (a, b) {
                    return Number(a) - Number(b);
                });
            }
        }
    });

</script>

</html>