.DS_Store

/CodeIgniter-3.1.9/application/cache/*
/CodeIgniter-3.1.9/!application/cache/index.html

/CodeIgniter-3.1.9/application/logs/*
/CodeIgniter-3.1.9/!application/logs/index.html

/CodeIgniter-3.1.9/!application/*/.htaccess

/CodeIgniter-3.1.9/composer.lock

/CodeIgniter-3.1.9/user_guide_src/build/*
/CodeIgniter-3.1.9/user_guide_src/cilexer/build/*
/CodeIgniter-3.1.9/user_guide_src/cilexer/dist/*
/CodeIgniter-3.1.9/user_guide_src/cilexer/pycilexer.egg-info/*
/CodeIgniter-3.1.9/vendor/

/laravelLearn/node_modules
/laravelLearn/public/hot
/laravelLearn/public/storage
/laravelLearn/storage/*.key
/laravelLearn/vendor
/laravelLearn/.idea
/laravelLearn/.vscode
/laravelLearn/.vagrant
/laravelLearn/Homestead.json
/laravelLearn/Homestead.yaml
/laravelLearn/npm-debug.log
/laravelLearn/yarn-error.log
/laravelLearn/.env
/laravelLearn/.phpunit.result.cache

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/CodeIgniter-3.1.9/tests/tests/
/CodeIgniter-3.1.9/tests/results/
