//颜色定义

$red: #ff597e;
$blue: #7f79ff;
$big_font:50px;
#div1{
  height: 300px;
  width: 300px;
  background: $red;
  color: #08BECE;
  :hover{
    background:$blue;
  }
  h1{
    font-size:$big_font;
  }
  >h2{
    font-size: $big_font;
  }
}