//颜色定义
/* 这个注释好使吗*/
//@import 的下划线代表不会单独编译
@import "_color";
@import "_font";

#div1 {
  height: 300px;
  width: 300px;
  background: $red;
  color: #08BECE;
  :hover {
    background: $blue;
  }
  h1 {
    font-size: $big_font;
  }
  > h2 {
    font-size: $big_font;
  }
}

//混合宏
@mixin mixin_div($w,$h) {
  width: $w;
  height: $h;
}

#div1 {
  @include mixin_div($w: 100px, $h: 300px);
}

#div2 {
  //继承div1的样式
  @extend #div1;
  background: $light_red;
}

#div3 {
  @extend #div2;
  background: $transparentize_blue;
}

@for $i from 1 through 5 {
  .cl-#{$i} {
    width: #{$i}px;
  }
}

//$list: success, fail, warn;
//@each $var in $list {
//  .#{$var} {
//    background: icon-+$var;
//  }
//}

$l: 5;
@while $l > 1 {
  .div7 {
    width: 100px;
  }
  //加减符号必须加红歌
  $l: $l - 2;
}

@function fn($num){
  @if($num>10){
    @return $num - 10;
  }@else if($num>5){
    @return $num -5;
  }@else {
    @return $num;
  }
}
#div4 {
  background: $red;
  width: 100px;
  height: 100px;
}