*{
    margin: 0;
    padding: 0;
}
#small img{
    float: left;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    width: 25%;
    box-sizing: border-box;
}
html,body,#big{
    height: 100%;
}
#big{
    background: #000000 no-repeat center;
    background-size:contain;
    display: none;
}